<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM 'http://java.sun.com/dtd/properties.dtd'>
<properties>
    <entry key='config.default'>./conf/default.xml</entry>
    <entry key='database.driver'>org.postgresql.Driver</entry>
    <entry key='database.url'>jdbc:postgresql://127.0.0.1:@@POSTGRES_PORT@@/traccar</entry>
    <entry key='database.user'>@@DATABASE_USER@@</entry>
    <entry key='database.password'>@@DATABASE_PASSWORD@@</entry>
    <entry key='web.address'>127.0.0.1</entry>
    <entry key='web.port'>@@TRACCAR_WEB_PORT@@</entry>
    <entry key='osmand.address'>127.0.0.1</entry>
    <entry key='osmand.port'>@@TRACCAR_GPS_PORT@@</entry>
    <entry key='database.registerUnknown'>true</entry>
    <entry key='database.registerUnknown.regex'>^AND-[0-9A-F]{16}$</entry>
    <entry key='database.registerUnknown.defaultGroupId'>@@PENDING_GROUP_ID@@</entry>
    <entry key='database.registerUnknown.defaultCategory'>mobile</entry>
</properties>
